appdirs==1.4.4
attrs==20.3.0
awkward0==0.15.5
boost-histogram==1.0.1
cachetools==4.2.1
cfgv==3.2.0
coverage==5.5
dataclasses==0.8
distlib==0.3.1
filelock==3.0.12
flake8==3.9.0
identify==2.2.2
importlib-metadata==3.7.3
importlib-resources==5.1.2
iniconfig==1.1.1
logzero==1.7.0
matplotlib==3.3.4
mplhep==0.2.18
mccabe==0.6.1
mypy==0.812
mypy-extensions==0.4.3
nodeenv==1.5.0
numpy==1.19.5
packaging==20.9
pandas==1.1.5
pkg-resources==0.0.0
pluggy==0.13.1
pre-commit==2.11.1
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
pyparsing==2.4.7
pytest==6.2.2
pytest-cov==2.11.1
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
six==1.15.0
toml==0.10.2
tqdm==4.59.0
typed-ast==1.4.2
typing-extensions==3.7.4.3
uproot==4.0.8
uproot-methods==0.9.2
uproot3==3.14.4
uproot3-methods==0.10.1
virtualenv==20.4.3
wheel==0.36.2
xrootd==5.2.0
zipp==3.4.1
